@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-image: url(https://www.photohdx.com/images/2017/04/clean-dark-purple-background-texture.jpg);
  background-image: linear-gradient(rgb(58, 0, 91), rgb(10, 0, 19));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#content{
  width:60%;
  margin:auto;
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 20px;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 10px 10px 50px 8px rgb(0, 0, 0);
}

p{
  line-height: 2em;
  color: #fff;
  text-shadow: 2px 2px 10px #fff;
  font-family: 'Press Start 2P', sans-serif;
}

.outerhologram{
  background-color: rgba(255, 255, 255, 0.229);
  border-radius: 20px;
  border: solid;
  text-shadow: 2px 2px 10px #fff;
  border-color: rgb(255, 255, 255);
  border-width: thick;
  font-family: 'Press Start 2P', sans-serif;
  box-shadow: 5px 5px 40px 1px rgb(255, 87, 255),inset 5px 5px 40px 1px rgb(255, 87, 255);
  padding: 30px;
}

#inside{
  margin-right: 55%;
  margin-top: 5%;
}

h1{
  text-align: center;
  letter-spacing: 20px;
  font-size: 400%;
}

canvas {
  display: block;
  margin: auto;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  border-color: rgb(0, 0, 0);
  border-left: 0;
  border-right: 0;
  box-shadow: 10px 10px 50px 8px rgb(0, 0, 0);
  /* margin-top: 50px; */
}

.parallax {
  /* The image used */
  background-image: url(https://toppng.com/uploads/preview/planets-dark-shadow-space-11569851417r2skrueim9.jpg);

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  /* background: #f83d23; */
  /* width: 100px;
  height: 100px; */
  right:0;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  float: right;
}

.wrapper {
  width: 95%;
  margin: auto;
  /* background-color: #ccc; */
  align-content: top;
}
.wrapper {
  height: 1200px;
  margin-top: 5%;
}

@media (min-height: 768px) {
  #wrapper{
    height: 2000px;
  }
}