@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-image: url(2holo.png);
  background-image: linear-gradient(rgb(58, 0, 91), rgb(10, 0, 19));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#content{
  width:60%;
  margin:auto;
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 20px;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 10px 10px 50px 8px rgb(0, 0, 0);
}

p{
  line-height: 2em;
  color: #fff;
  text-shadow: 2px 2px 10px #fff;
  font-family: 'Press Start 2P', sans-serif;
}

.outerhologram{
  background-color: rgba(255, 255, 255, 0.229);
  border-radius: 20px;
  border: solid;
  text-shadow: 2px 2px 10px #fff;
  border-color: rgb(255, 255, 255);
  border-width: thick;
  font-family: 'Orbitron', sans-serif;
  /* box-shadow: 5px 5px 30px 1px rgb(255, 87, 255),inset 5px 5px 40px 1px rgb(255, 87, 255); */
  /* padding-left: 30px; */
  width: 30%;
  margin: auto;
  margin-top: 5%;
  font-size: small;
  text-align: center;
}

#inside{
  margin-right: 55%;
  margin-top: 5%;
}

.outside{
  width: 70%;
  margin: auto;
  text-align: center;
}

h1{
  text-align: center;
  letter-spacing: 20px;
}

canvas {
  margin: auto;
  /* margin-top: 50px; */
}

.parallax {
  /* The image used */
  background-image: url(https://toppng.com/uploads/preview/planets-dark-shadow-space-11569851417r2skrueim9.jpg);

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  /* background: #f83d23; */
  /* width: 100px;
  height: 100px; */
  right:0;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  float: right;
}

.wrapper {
  width: 95%;
  margin: auto;
  /* background-color: #ccc; */
  align-content: top;
}
.wrapper {
  height: 1200px;
  margin-top: 5%;
}

@media (min-height: 768px) {
  #wrapper{
    height: 2000px;
  }
}

.middlecons{
  width: 50%;
  margin-left:15%;
  margin-top: -4px;
  background-image: url(2holo.png);
  background-size: 100%;
  background-repeat: repeat-y;
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 10px #fff;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 200%;
}

.round{
  /* /* border-radius: 100%;
  width: 100%; */
  background-color: rgba(127, 255, 212, 0); 
}